<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>Sound Reactions EME</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.controlled_frenzy.sr_music_generator</string>
    <key>CFBundleName</key>
    <string>Sound Reactions EME</string>
    <key>CFBundleDisplayName</key>
    <string>Sound Reactions EME</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.6.1</string>
    <key>CFBundleVersion</key>
    <string>0.6.1</string>
    <key>NSHumanReadableCopyright</key>
    <string />
    <key>NSHighResolutionCapable</key>
    <true />
  <key>CFBundleDocumentTypes</key>
    <array>
  <dict>
    <key>CFBundleTypeIconSystemGenerated</key>
    <integer>1</integer>
    <key>CFBundleTypeExtensions</key>
    <array>
      <string>emearr</string>
      <string>eme</string>
    </array>
    <key>NSDocumentClass</key>
    <string>NSDocument</string>
    <key>CFBundleTypeName</key>
    <string>EME Arrangement</string>
    <key>LSHandlerRank</key>
    <string>Owner</string>
  <key>CFBundleDocumentTypes</key>
        <array>
  <dict>
    <key>CFBundleTypeIconSystemGenerated</key>
    <integer>1</integer>
    <key>CFBundleTypeExtensions</key>
    <array>
      <string>emearr</string>
      <string>eme</string>
    </array>
    <key>NSDocumentClass</key>
    <string>NSDocument</string>
    <key>CFBundleTypeName</key>
    <string>EME Arrangement</string>
    <key>LSHandlerRank</key>
    <string>Owner</string>
  <key>CFBundleDocumentTypes</key>
            <array>
  <dict>
    <key>CFBundleTypeIconSystemGenerated</key>
    <integer>1</integer>
    <key>CFBundleTypeExtensions</key>
    <array>
      <string>emearr</string>
      <string>eme</string>
    </array>
    <key>NSDocumentClass</key>
    <string>NSDocument</string>
    <key>CFBundleTypeName</key>
    <string>EME Arrangement</string>
    <key>LSHandlerRank</key>
    <string>Owner</string>
  </dict>
</array>
          </dict>
</array>
      </dict>
</array>
  </dict>
</plist>